p {
color: blue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ol{color: red;
}
div{ 
    background-color: lightblue;
    border: 5px solid salmon;
    border-radius: 2px;
width: 25%;

}